*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    /* padding: 0;
    margin: 0; */
    /* display: flex; */
    /* width: 100vh;
    height: 100vh; */
    /* justify-content: center;
    align-items: center; */
    background-color: #a0a0a0;
}

body.correct {
    background-color: rgb(2, 226, 58);
}

body.wrong {
    background-color: rgb(255, 0, 0);
}


 
.container {
    border-radius: 12px;
    width: 750px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 1px solid black;
    box-shadow: 0 0 10px;
    position: relative;
}
 
.container h1 {
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: #a0a0a0;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding: 12px 0px;
    border: 1px solid black;
}

.intro {
    margin-top: 75px;
    font-size: 24px;
    text-align: center;
}

#startBtn {
    border-radius: 12px;
    color:white;
    background-color: blue;
    width: 150px;
    height: 50px;
    font-size: 24px;
    border: black 1px solid;
    margin-top: 25px;
}




 
#startBtn:hover {
    background-color: rgb(25, 115, 250);
}

#startBtn:focus {
    outline: 0;
}

#nextBtn {
    border-radius: 12px;
    color:white;
    background-color: blue;
    width: 250px;
    height: 50px;
    font-size: 24px;
    border: black 1px solid;
    margin-top: 25px;
}

#nextBtn:hover {
    background-color: rgb(25, 115, 250);
}

#nextBtn:focus {
    outline: 0;
}

#timer {
    font-size: 40px;
    margin-left: 40%;
    bottom: 0;
    position: absolute;

}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #score {
    color: black;
    text-align: center;
    font-size: 30px;
}
 
.container #question {
    font-family: "monospace";
    font-size: 30px;
    color: black;
    text-align: center;
} */


#question-heading {
    text-align: center;
    font-size: 36px;
}
 
/* .buttonGrid {
    margin: 30px;
    text-align: center;
} */

#answerButtons.answer {
    margin: 30px;
    text-align: center;
}
 
button {
    border-radius: 12px;
    background-color: #a0a0a0;
    width: 400px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    border: 1px solid black;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px;
    /* text-align: center; */
    
}
 
button:hover {
    cursor: pointer;
    background-color: #0130ff;
}
 
button:focus {
    outline: 0;
}
 
button.correct {
    background-color: rgb(2, 226, 58);
    color: black;
}

button.wrong {
    background-color: rgb(255, 0, 0);
}

.hide {
    display: none;
}
 













