*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #a0a0a0;
}

body.correct {
    background-color: rgb(2, 226, 58);
}

body.wrong {
    background-color: rgb(255, 0, 0);
}

.container {
    width: 800px;
    height: 550px;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 20px;
    position: relative;
}

.container h1 {
    border-radius: 12px;
    background-color: #a0a0a0;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding: 12px 0px;
    border: 1px solid black;
}

.intro {
    margin: 75px 30px 0px 30px;
    font-size: 24px;
    text-align: center;
}

#question-heading {
    text-align: center;
    font-size: 36px;
}

.btn {
    border-radius: 12px;
    background-color: #a0a0a0;
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    border: 1px solid black;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: #0130ff;
}

.btn:focus {
    outline: 0;
}

.btn.correct {
    background-color: rgb(2, 226, 58);
    color: black;
}

.btn.wrong {
    background-color: rgb(255, 0, 0);
}

.start-btn {
    border-radius: 12px;
    color:white;
    background-color: blue;
    width: 150px;
    height: 50px;
    font-size: 24px;
    border: black 1px solid;
    margin-top: 25px;
}

.start-btn:hover {
    background-color: rgb(25, 115, 250);
}

.start-btn:focus {
    outline: 0;
}


.next-btn {
    border-radius: 12px;
    color:black;
    background-color: #a0a0a0;
    width: 400px;
    height: 50px;
    font-size: 24px;
    border: black 1px solid;
    margin-left: 24%;
}

.next-btn:hover {
    background-color: blue;
    color: white;
}

.next-btn:focus {
    outline: 0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#question {
    text-align: center;
    font-size: 36px;
    padding-top: 20px;
}

.btn-grid {
    margin: 30px;
    text-align: center;
}

#timer {
    font-size: 40px;
    margin-left: 9%;
    margin-bottom: 250px;
    bottom: 0;
    position: absolute;
}

.hide {
    display: none;
}

