:root {
    background-color: #a0a0a0;
    font-family: 'Raleway', sans-serif;
}
    
li {
    padding-bottom: 3px;
    color: black;
    list-style-type: none;
}
    
p {
    color: black;
    text-shadow: .5px .5px white;
    text-align: center;
    font-size: xx-large;
}

h2 {
    margin-top: -.5rem;
}

input {
    text-align: center;
}
    
.container {
    width: 800px;
    height: 550px;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 0 20px;
    position: relative;
}
    
.container h1 {
    border-radius: 12px;
    background-color: #a0a0a0;
    width: 600px;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding: 12px 0px;
    border: 1px solid black;
}
    
button {
    border-radius: 12px;
    background-color: #a0a0a0;
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
    border: 1px solid black;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px;
}
    
button:hover {
    cursor: pointer;
    background-color: #0130ff;
}
    
button:focus {
    outline: 0;
}
    
#introContainer {
    position:  relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
#timer {
    font-family: sans-serif;
    color: black;
    font-size: x-large;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    margin-left: 37%;
}

#questionContainer {
    display: none;
}
    
#result {
    display: none;
}
    
#gameOver {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}
    
#highScore {
    height: 1.5rem;
    border: groove 2px;
}
    
#highScorePage {
    display: none;
    font-family: 'Raleway', sans-serif;
    width: 70%;
    margin-bottom: 50px;
    border: solid;
    border-color: rgb(192 192 192);
    padding-bottom: .3rem;
    background: rgb(176 196 222);
}
    
#highScoreHeader {
    display:flex;
    font-family: 'Raleway', sans-serif;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
    background-color: #0130ff;
    color: white;
    font-family: sans-serif;
}

#highScoreContainer {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
#playerName {
    margin: .5rem;
    height: 1.75rem;
}
    
#highScoreName {
    display: inline-block;
    padding-left: 9.5rem;
    font-family: sans-serif;
    font-weight: bold;
}
    
#highScoreScore {
    float: right;
    padding-right: 8.75rem;
    font-family: sans-serif;
    font-weight: bold;
}
    
#finalScore {
    padding-bottom: 0.5rem;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}
    
#controls {
    display: none;
}